<form class="form-horizontal" role="form" method="POST" accept-charset="utf-8" action="/addcomposant">
  <div class="col-xs-12 col-sm-12">
    <h3>Nouveau composant</h3>
  </div>
  

  <div class="form-group">
    <label for="inputName" class="col-sm-2 control-label">Nom du composant</label>
    <div class="col-sm-6">
     <input class="form-control" placeholder="Nom du composant" type="text" name="nom_composant" title="This field is required" required="required"/>
    </div>
  </div>



<div class="form-group">
<label for="inputName" class="col-sm-2 control-label">Quantité du composant</label>
    <div class="col-sm-6">
      <input class="form-control" placeholder="Quantité du composant" type="number" min="0" name="quantite_composant" title="This field is required" value="0" required="required"/>
    </div>
  </div>


<div class="form-group">
       <label for="inputName" class="col-sm-2 control-label">Sous-catégorie du composant</label>
	<div class="col-sm-6">
       <select name="id_sous_categorie" id="sous-categorie">
{{#each result.tabCategories}}
           <optgroup label="{{this.nom_categorie}}">
		{{#each this.sous_categories}}
               <option value="{{this._id}}">{{this.nom_sous_categorie}}</option>
           	{{/each}}
           </optgroup>
{{/each}}          
       </select>
	</div>
    </div>


  <div class="form-group">
    <label for="inputName" class="col-sm-2 control-label">Statut du composant</label>
    <div class="col-sm-6">
      <select class="form-control" id="statut" name="statut_composant" required="required">
                  <option value="En Stock" name="statut_composant">En Stock</option>
                  <option value="Epuisé" name="statut_composant">Epuisé</option>
                  <option value="En cours d'expédition" name="statut_composant">En cours d'expédition</option>             
      </select>
    </div>
  </div>     


<div class="form-group">
 <label for="inputName" class="col-sm-2 control-label">Remarques sur le composant</label>
    <div class="col-sm-6">
      <input class="form-control" placeholder="Remarques sur le composant" type="text" name="remarques_composant" title="This field is required" value="{{#if result.one}}{{result.one.remarques_composant}}{{/if}}" required="required"/>
    </div>
  </div>     


  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
          {{#if result.one}}
          <input type="hidden" name="_id" value="{{result.one._id}}"/>
          {{/if}}
        <button type="submit" name="button" id="button" class="btn btn-primary">Valider</button>
    </div>
  </div>

</form>
