<form class="form-horizontal" role="form" method="POST" accept-charset="utf-8" id="formulaire" action="/supprimer_des_prets">

  
  <div class="col-xs-12 col-sm-12">
    <h3>Récapitulatif du rendu</h3>
  </div>

  
  <div class="form-group">
    <label for="inputName" class="col-sm-2 control-label">Nom composant</label>
    <div class="col-sm-4">
      <input type="text" name="nom" value="{{result.[0].id_composant.nom_composant}}" disabled="disabled" autofocus/>
    </div>
  </div>

  <div class="form-group">
    <label for="inputName" class="col-sm-2 control-label">Emprunteur</label>
    <div class="col-sm-4">
      <input type="text" name="nom_emprunteur" value="{{result.[0].nom_emprunteur}}" disabled="disabled" autofocus/>
    </div>
  </div>
  
  <div class="form-group">
    <label for="inputName" class="col-sm-2 control-label">Quantité empruntée</label>
    <div class="col-sm-4">
      <input type="text" name="quantite_empruntee" id="pretes_initiaux" value="{{result.[0].quantite_pretee}}" disabled="disabled" autofocus/>
    </div>
  </div>

  <div class="form-group">
    <label for="inputName" class="col-sm-2 control-label">Quantité rendue</label>
    <div class="col-sm-4">
      <input type="number" name="quantite_rendue" id="nb_rendus" value="{{result.[0].quantite_pretee}}" min="1" max="{{result.[0].quantite_pretee}}" autofocus/>
    </div>
  </div>

  <script> <!-- calcul de la quantité pretée restante-->
    var nb_pretes_restants = 0;
    var nb_pretes_initiaux = document.getElementById('pretes_initiaux').value;
    var nb_rendus = 0;
    var element = document.getElementById('nb_rendus');
    element.addEventListener('change',function(e){
        nb_rendus = element.value;
        nb_pretes_restants = nb_pretes_initiaux - nb_rendus;
        document.getElementById('pretee_to_send').value = nb_pretes_restants;
	var formulaire = document.getElementById('formulaire');
        if(nb_pretes_restants == 0){
            formulaire.action = "/supprimer_des_prets";
        }
	else{
	    formulaire.action = "/rendrecomposant";
	}
    });
    </script>
  

<!-- envoi formulaire -->
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
          {{#if result}}
          <input type="hidden" name="_id" value="{{result.[0]._id}}"/>
	  <input type="hidden" name="quantite_pretee" id="pretee_to_send" value="0" />
          {{/if}}
        <button type="submit" name="button" id="button" class="btn btn-primary">Validate</button>
    </div>
  </div>

</form>
