<form class="form-horizontal" role="form" method="POST" accept-charset="utf-8" action="/updatecomposant">
 

  <div class="form-group">
    <label for="inputName" class="col-sm-2 control-label">Nom du composant</label>
    <div class="col-sm-6">
     <input class="form-control" placeholder="Nom du composant" type="text" name="nom_composant" title="This field is required" value="{{result.nom_composant}}" required="required"/>
    </div>
  </div>


<div class="form-group">
<label for="inputName" class="col-sm-2 control-label">Quantité du composant</label>
    <div class="col-sm-6">
<<<<<<< HEAD
      <input class="form-control" placeholder="Quantité du composant" type="number" min="0" name="quantite_composant" title="This field is required" value="{{result.one.quantite_composant}}" required="required"/>
=======
      <input class="form-control" placeholder="Quantité du composant" type="number" min="0" name="quantite_composant" title="This field is required" value="{{result.quantite_composant}}" required="required"/>
>>>>>>> f483a0244366f4e3907dc3b0db5646b1889b8b7e
    </div>
  </div>




  <div class="form-group">
    <label for="inputName" class="col-sm-2 control-label">Statut du composant</label>
    <div class="col-sm-6">
      <select class="form-control" id="statut" name="statut_composant" required="required">
              {{#if result.one}}{{else}}
 {{/if}}          <option value="En Stock" {{#if result.one}}{{#compare result.one.statut 'En stock' operator='=='}}selected{{/compare}}{{/if}} >En Stock</option>
                  <option value="Epuisé" {{#if result.one}}{{#compare result.one.statut 'Epuisé' operator='=='}}selected{{/compare}}{{/if}} >Epuisé</option>
                  <option value="En cours d'expédition" {{#if result.one}}{{#compare result.one.statut 'En cours dexpedition' operator='=='}}selected{{/compare}}{{/if}} >En cours d'expédition</option>             
      </select>
    </div>
  </div>     


<div class="form-group">
 <label for="inputName" class="col-sm-2 control-label">Remarques sur le composant</label>
    <div class="col-sm-6">
      <input class="form-control" placeholder="Remarques sur le composant" type="text" name="remarques_composant" title="This field is required" value="{{result.remarques_composant}}" required="required"/>
    </div>
  </div>     


  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
          {{#if result.one}}
          <input type="hidden" name="_id" value="{{result.one._id}}"/>
          {{/if}}
        <button type="submit" name="button" id="button" class="btn btn-primary">Valider</button>
    </div>
  </div>

</form>
