{{#content "head"}}
    {{> head}}
{{/content}}
{{#content "nav"}}
  {{> nav}}
{{/content}}
{{#content "page"}}
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Bienvenue sur le forum Eirbot. Liste des conversations.
          </h1>
        </section>
        <!-- Main content -->
        <section class="content">
	  {{#each result}}
	  <div class="box box-primary bg-gray">
	    <div class="box-body">
	      <h3 class="box-title">{{titre_conversation}}</h3>
	      <p>Par {{id_auteur.prenom}} {{id_auteur.nom}}</p>
	      <p>Date {{date_conversation}}</p>
	      <div class="col-sm-8">
		<a href="/deleteconv?_id={{_id}}">
		  <button type="button" class="btn btn-danger">Suprimer</button>
		</a>
	      </div>
	      <div class="col-sm-6">
		<a href="/forum_conv?id_conversation={{_id}}">
		  <button type="button" class="btn btn-info">Voir les commantaires</button>
		</a>
	      </div>
	    </div>
	  </div>
	  {{/each}}
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

{{/content}}
{{#content "footer"}}
    {{> footer}}
{{/content}}
