{{#content "head"}}
    {{> head}}
{{/content}}
{{#content "nav"}}
  {{> nav}}
{{/content}}
{{#content "page"}}
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h2>
            Bienvenue sur le forum Eirbot !
          </h2>
	  <h1>
	    Liste des conversations :
	  </h1>
        </section>
        <!-- Main content -->
        <section class="content">



	  <div class="row">
	    <div class="col-sm-offset-2 col-sm-8">
	      {{#each result}}
	      <!--<div class="box box-primary bg-gray">-->
	      <div class="box_conv">
		  <a href="/forum_conv?id_conversation={{_id}}"><p class="box_conv_title" style="color: SteelBlue;">Sujet : {{titre_conversation}}</p></a>
		<div class="box-body">
		  <p>Auteur:  {{id_auteur.login}} </p>
		  <p>Date: {{date_conversation}}</p>
		  
		  <div class="row">

		    
		   <!-- <div class="col-sm-3">
		      <a href="/forum_conv?id_conversation={{_id}}"><p class="box_conv_title">Sujet : {{titre_conversation}}</p>
		<div class="box-body">
		  <p>Par {{id_auteur.login}}</p>
		  <p>Date : le <span class="date_conv">{{date_conversation}}</span></p>
		  
		  <div class="row">
		   <!-- <div class="col-sm-3">
		      <a href="/forum_conv?id_conversation={{_id}}">Voir les commentaires</a>
		    </div>-->

		   
		   <div class="col-sm-11">
		    <div class="col-sm-3">
		      <p>
			{{#if conversation_resolue}}
			Conversation résolue
			{{else}}
			Conversation non résolue
			{{/if}}
		      </p>
		    </div>

		    {{#if conversation_resolue}}

		    {{else}}
		    {{#compare ../user.role.code 'user' operator='!='}}
		    <div class="col-sm-6">
		      <a href="/resoudre_conv?_id={{_id}}&conversation_resolue=true">Signaler comme résolue</a>
		    </div>
		    {{/compare}}
		    {{/if}}
		    </div>

		    {{#compare ../user.role.code 'user' operator='!='}}
		    <div class=" col-sm-1">
		      <a href="/deleteconv?_id={{_id}}" title="Supprimer" class="btn btn-sm btn-default"><i class="fa fa-trash-o"></i></a>
		    </div>
		    {{/compare}}
		    
		  </div>

		  
		</div>
	      </div>
	      {{/each}}
	    </div>
	  </div>
	  
	  
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
      <script>
	    $(".date_conv").each(function(){
		var date = $(this).text();
		var tab = date.split(' ');
		$(this).text(tab[0]+' '+tab[2]+' '+tab[1]+' '
			     +' '+tab[3]+' à '+tab[4]);
	    });
      </script>
{{/content}}
{{#content "footer"}}
    {{> footer}}
{{/content}}
