{{#content "head"}}
    {{> head}}
{{/content}}
{{#content "nav"}}
  {{> nav}}
{{/content}}
{{#content "page"}}
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Bienvenue sur le forum Eirbot. Liste des conversations.
          </h1>
        </section>
        <!-- Main content -->
        <section class="content">
	  {{#each result}}
	  <!--<div class="box box-primary bg-gray">-->
	  <div class="box_conv">
	    <p class="box_conv_title">Sujet : {{titre_conversation}}</p>
	    <div class="box-body">
	      <p>Par {{id_auteur.prenom}} {{id_auteur.nom}}</p>
	      <p>Date : le <span class="date_conv">{{date_conversation}}</span></p>
	      <div class="row">
		<div class="col-sm-3">
		  <a href="/forum_conv?id_conversation={{_id}}">Voir les commantaires</a>
		</div>
		<div class="col-sm-3">
		  <a href="/deleteconv?_id={{_id}}" title="Supprimer" class="btn btn-sm btn-default"><i class="fa fa-trash-o"></i></a>
		</div>
		<div class="col-sm-3">
		  <p>
		    {{#compare conversation_resolue 'true' operator='=='}}
		    Résolue
		    {{else}}
		    Non résolue
		    {{/compare}}
		  </p>
		</div>
		{{#compare ../user.role.code 'user' operator='!='}}
		<div class="col-sm-3">
		  <a href="">Signaler comme résolue</a>
		</div>
		{{/compare}}
	      </div>
	    </div>
	  </div>
	  {{/each}}
	  <div class="box box-primary">
	    <div class="box-body">
	      <h3 class="box-title">Nouvelle conversation</h3>
              <form class="form-horizontal" role="form" method="POST" accept-charset="utf-8" action="/addconv">
		<div class="form-group">
		  <label for="titre_conversation" class="col-sm-2 control-label">Titre de la conversation</label>
		  <div class="col-sm-6">
		    <input class="form-control" type="text" name="titre_conversation" title="This field is required" required="required"/>
		  </div>
		</div>
		<div class="form-group">
		  <label for="contenu_commentaire">
		    Premier commentaire
		  </label>
		  <div class="col-sm-6">
		    <textarea class="form-control" name="contenu_commentaire" rows="5" cols="100"></textarea>
		  </div>
		</div>
		<button type="submit" name="button" id="button" class="btn btn-primary">Valider</button>
              </form>
	    </div>
	  </div>
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
      <script>
	    $(".date_conv").each(function(){
		var date = $(this).text();
		var tab = date.split(' ');
		$(this).text(tab[0]+' '+tab[2]+' '+tab[1]+' '
			     +' '+tab[3]+' à '+tab[4]);
	    });
      </script>
{{/content}}
{{#content "footer"}}
    {{> footer}}
{{/content}}
